/* menggunakan font poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
:root{
    --body-color: rgb(250,250,250);
    --color-white: rgb(255,255,255) ;

    --text-colot-second: rgb(68,68,68);
    --text-color-third:rgb(30,159,171) ;

    --first-color: rgb(110,87,224);
    --first-color-hover: rgb(40,91,212);

    --second-color: rgb(0,201,255);
    --third-color: rgb(192,166,49);
    --first-shadow-color: rgb(54, 53, 53);
}

/* BASE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}

/* SMOOTH SCROLL */
html{
    scroll-behavior: smooth;
}

/* UBAH DESAIN SCROLL BAR */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

/* DESAIN BUTTON KESELURUHAN */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s; 
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}
/* DESAIN ICONS KESELURUHAN */
i{
    font-size: 16px;

}
/* NAVIGATION BAR */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
    position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-colot-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav-list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-colot-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3s;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

.nav-button>.btn a{
    color: var(--text-colot-second);
    text-decoration: none;
}
/* CONTAINER / KONTEN DESAIN */
.wrapper{
    padding-inline: 10vw;

}

/* fetured box */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* fetured text box */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;

}

.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;

}
.featured-name{
    font-size: 50px;
    font-weight: 600px;
    color: var(--text-colot-second);
    margin-block: 20px;
}

.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}

.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}

.featured-text-btn{
    display: flex;
    gap: 20px;
}

.featured-text-btn>.blue-btn{
    background: var(--first-color);
}

.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.featured-text-btn>.btn a{
    color: var(--text-colot-second);
    text-decoration: none;
}

.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}


/* FEATURED IMAGE BOX */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}

@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-colot-second);
    background: var(--color-white) ;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i{
    font-size: 20px;
}


/* ABOUT */
.about{
    padding-block: 5em;
}

.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-colot-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}

.about-content{
    display: flex;
}
.about-img{
    margin-left: 5em;
    width: 200px;
}

.about-img, .about-info{
    flex: 1;
    padding: 80px;

}


.about-info p{
    text-align: justify;
    margin-bottom: 1em;
    color: var(--text-colot-second);
}
.about-info>.btn a{
    color: var(--text-colot-second);
    text-decoration: none;
}
/* SKILLS */
.skills{
    padding-block: 5em;
}

.skills .skills-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    
    
}
.skills .skills-row .content-skills{
    padding: 25px 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform .5s;
    cursor: pointer;
    color: #555;
    font-size: 14px;
    

}
.skills .skills-row .content-skills:hover{
    transform:scale(1.1);
    background: var(--second-color);
    color: var(--color-white);
}
.skills .skills-row .content-skills i{
    font-size: 40px;
    color: var(--second-color);
    margin-bottom: 10px;
}
.skills .skills-row .content-skills:hover i{
    color: #fff;
}
.skills .skills-row .content-skills h2{
    margin-bottom: 8px;
}
/* Portofolio */
.portofolio{
    /* padding-block: 5em; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    padding: 6rem 2rem 2rem;
}
.content-portofolio{
    width: 100%;
}

.portofolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    gap: 35px;
    margin: 0 auto;
}

.portofolio-list .img-card{
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--first-shadow-color);
    overflow: hidden;
    cursor: pointer;
}

.portofolio-list .img-card .overlay{
    transition: 1s ease;
}

.portofolio-list .img-card:hover .overlay{
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.portofolio-list .img-card .info{
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: .5 ease;
}

.portofolio-list .img-card:hover .info{
    transform: translateY(0);
    opacity: 1;
}

.portofolio-list .img-card .info h3{
    font-size: 1.5em;
}

.portofolio-list .img-card .info span{
    font-size: 1.2em;
}

.portofolio-list .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portofolio-model{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(129, 127, 127, 0.7);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.portofolio-model.active{
    visibility: visible;
    opacity: 1;
}

.portofolio-model-body{
    position: relative;
    background: var(--color-white);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--first-shadow-color);
    transform: translateY(-50px);
    transition: .5s ease;
}

.portofolio-model.active .portofolio-model-body{
    transform: translateY(0);
}

.portofolio-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.portofolio-model-body h3{
    font-size: 1.5em;
}
.portofolio-model-body img{
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

/* Experience */
.experience{
    padding-block: 5em;
}
.experience-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 0 9%;
}
.experience-container .row{
    display: flex;
    column-gap: 64px;
    flex-wrap: wrap;
}
.row .column{
    flex: 1 1 320px;
}
.column .title{
    position: relative;
    display: inline-block;
    font-size: 28px;
    margin: 32px 0 16px 30px;
}
.column .timeline-box{
    border-left: 2px solid var(--second-color);
}

.timeline-box .timeline-content{
    position: relative;
    padding-left: 27px;
}
.timeline-box .timeline-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10.5px;
    width: 20px;
    height: 20px;
    background: var(--second-color);
    border-radius: 50%;
}
.timeline-content .ex-content{
    padding: 24px;
    border: 2px solid var(--second-color);
    border-radius: 8px;
    margin-bottom: 32px;
}
.timeline-content .ex-content .year{
    font-size: 16px;
    color: var(--second-color);
}
.timeline-content .ex-content .year i{
    margin-right: 8px;
}
.timeline-content .ex-content h3{
    font-size: 19px;
    margin: 8px 0;
}
.timeline-content .ex-content p{
    font-size: 16px;
}
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 105%;
    height: 100%;
    background: var(--body-color);
    animation: show-right 1s ease forwards;
    animation-delay: calc(.5s * var(--i));
}
@keyframes show-right {
    100% {
        width: 0;
    }
}

/* Contact */
.contact{
    padding-block: 5em;
}
.contact-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.contact-column{
    display: flex;
    width: 50%;
}
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.contact-info::after{
    background-color: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #777;
    z-index: 2;
}
/* CONTACT FORM */
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 100;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 20px;
    padding-inline: 20px;
    outline: none;
}
.text-place{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: #00b5e7;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}
.footer-social-icons{
    display: flex;
    gap: 30px;
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}
.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 20px;
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-colot-second);
    font-weight: 500;
    margin-inline: 20px;
}
/* MEDIA QUERY == 1024 PX / RESPONSIVE */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
    .about-content{
        flex-direction: column;
        padding: 0;
    }
    .about-img, .about-info{
        padding: 20px;
        font-size: 20px;
    }
    .about-img img {
        width: 200px;
        height: 350px;
        display: block;
        margin-left: 9em;
    }



}
/* MEDIA QUERY == 900 PX / RESPONSIVE */
@media only screen and (max-width: 900px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;

    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;

    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .about-content, .contact-info{
        width: 100%;
        flex-direction: column;
    }

    .about-img, .about-info{
        flex: 1;
        padding: 10px;
    }

    .about-img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height:350px;
    }
    .contact-row{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .contact-column{
        display: flex;
        justify-content: center;
        gap:50px ;
        min-height: 150px;
        width: 100%;
    }

}
/* MEDIA QUERY == 540 PX / RESPONSIVE */
@media only screen and (max-width: 540px){
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
    .contact-row{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .contact-column{
        display: flex;
        justify-content: center;
        gap:50px ;
        min-height: 150px;
        width: 100%;
    }
}